<!DOCTYPE html>
<html>
<head>
  <style>
  .pagina{
    width: 400px;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #edf2ff;
    margin-left: 650px;
    margin-top: 50px;
  }

  .ver-dados-fatura a{
    background-color: orange;
    padding: 6px 9px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
  }

  .botao a{
    display: flex;
    background-color: #304ffe;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 189px;
  }
  
  </style>
  
<body class="pagina">
<p style="color: green"><%= notice %></p>

<h1>Faturas cadastradas</h1>

<div id="bills">
  <% @bills.each do |bill| %>
    <%= render bill %>
    <p class="ver-dados-fatura">
      <%= link_to "Ver dados da fatura", bill %>
    </p>
  <% end %>
</div>


<div class="botao">
  <%= link_to "Voltar para a pagina incial", root_path %>
</div>

