<h2>Preencha o formulario abaixo para fazer a matricula:</h2>

<%= render "form", enrollment: @enrollment %>

<br>

<div>
<%= link_to "Voltar para pagina inicial", root_path, style: "text-decoration: none; color: #304ffe; 
  display: flex;
  background-color: #304ffe;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 16px;
  border: none;
  margin-top: 2px;
  border-radius: 10px;
  margin-right: 200px;

"%>
</div>
